.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header-color);
  height: var(--header-height);
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-border-color);
}

.brand {
  padding: 0 16px;
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
