@import 'themes';

body {
  margin: 0;
  padding: 0;
  color: #505050;
  font: 14px -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #545;
  //background: url("/bg.jpg");
}
